<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find roborace_gazebo)/worlds/u_map.world"/> 
  </include>
  <include file="$(find robocake_controllers)/launch/diffdrive.launch"/>
  <include file="$(find robocake_description)/launch/upload.launch">
    <arg name="model" value="green"/>
  </include>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 0.5 -y 0.3 -z 0.1 -Y 0 -urdf 
        -model robocake -param robot_description -b"/>
  <node name="control" pkg="robocake_algorithm" type="pid">
      <param name="threshold" value="0.2"/>
  </node>
</launch>
